.content{
  display: flex;
  margin: 20px 0px 0px 0px;
  padding: 0px;
 
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
 min-height: 100vh; 
 overscroll-behavior: none;
}


.content > h1{
  text-align: center;
  
  margin-bottom: 20px;
}

#main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.title-image-container {
  width: 100%; /* Set the desired width for your div */
  height: auto; /* Set the desired height for your div */
  /*border: 1px solid black; Optional: adds a border to see the container */
  overflow: hidden; /* Optional: hides any overflowing parts if using 'cover' */
  text-align: center;
}

.title-image-container img {
  width: 100%; /* Makes the image take the full width of the container */
  height: 100%; /* Makes the image take the full height of the container */
  object-fit: cover; /* or 'contain' */
}


/* p{
  font-family: "Poppins,sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4
} */




/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* @media (prefers-color-scheme: dark){
  #flash-cards-contatiner{
    color: white;
  }
} */



.read-the-docs {
  color: #e5e1e1;
} 


.button-link{
  color: white;
  padding: 10px 14px 10px 14px;
  margin: 0px 0px 0px 0px;
  border-radius: 30px;
  background-color: rgb(5, 102, 193);
}

.button-link:hover{
  /* background-color: rgb(7, 93, 174) */
  opacity: 75%;
  /* color: grey; */
}



